 body{
 font-size: 32px;
 font-family:;
 padding: 0;
}

span{
    color: gray;
    font-weight: normal;
} 
.container{
     display: flex;
    flex-direction: row-reverse;
   align-items: flex-start;
    
  justify-content: center;
  padding: 0 80px 0 80px;
    position: relative;
}
 .image{
    position: fixed;
    top: 11%; 
    right: 11%;
}
#end{
    position: fixed;
    top:80%;
}

#pattern{
    position: fixed;
    right: 6%;
}
#quote{
    position: fixed;
    left: 15%;
    top: 25%;
}
#text{
    position: fixed;
    top: 30%;
    width:50%;
    left: 6%;
    color: hsl(240, 38%, 20%);
}
#end{
    position: fixed;
    top:65%;
    left:6%;
    font-size: 20px;
    font-weight: 800;
}



#nav{
    position: fixed;
    top: 89%;
    right: 38%;
    background-color: white;
    border-radius: 50px;
    width: 100px;
    text-align: center;
    padding: 5px;
    word-spacing: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.2);
}
